# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/misc.xml
.idea/modules.xml
.idea
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile
Tests
/Win32/Debug
/bin/Debug
/ZERO_CHECK.vcxproj.user
/ZERO_CHECK.vcxproj.filters
/ZERO_CHECK.vcxproj
/Tests.vcxproj.user
/Tests.vcxproj.filters
/ALL_BUILD.vcxproj.user
/ALL_BUILD.vcxproj.filters

*.vcxproj.user
CTestTestfile.cmake
CTestCostData.txt
LastTest.log
LastTestsFailed.log

/.vscode
/build
CMakeCache.txt
/packages
/packages.config
/bin
/cmake-build-debug
*.cbp
CMakeScripts
